<!Doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block metasSeo %}
        <!-- AJOUT POSSIBLE --> 
        {% endblock %}

        {% block BoostrapCSS %}<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}

        {% block MonCSS %}
        <!-- AJOUT POSSIBLE -->
        {% endblock %}

        {% block title %}
        <title>Hello, world!</title><!-- CHANGEABLE -->
        {% endblock %}

    </head>
    <body>
        {% block header %}
                {% block navbar %}
                    <nav class="nav class="navbar navbar-dark" style="background-color: #2933beff;"">
                        <span class="navbar-brand mb-0 h1">My Agenda</span>
                        <div class="navbar-nav flex-row">
                            <a class="nav-link px-3" href="{{ path('app_home') }}">Home</a>
                            {% if app.user %}
                            <a class="nav-link px-3" href="{{ path('app_contact_ajouter') }}">Ajouter un contact</a>
                            {% else %}
                            <a class="nav-link px-3" href="{{ path('app_register') }}">S'inscrire</a>
                            <a class="nav-link px-3" href="{{ path('app_login') }}">Se connecter</a>
                            {% endif %}
                        </div>
                    </nav>
                    {% if app.user %}
                        <div class="container mt-2">
                            <small class="text-muted">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }} - 
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </small>
                        </div>
                    {% endif %}
                {% endblock %}
        {% endblock %}<!-- endblock du header -->

        {% block mainContent %}
            <!-- Content pour le main -->
        {% endblock %}

        {% block footer %}
            <!-- AJOUT CONTENU POSSIBLE --> 
        {% endblock %}

        {% block javascripts %}
            <!-- Optional JavaScript --> 
        {% endblock %}

        {% block bootstrapscript %}
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %} <!-- endblock du Bootstrapscript -->
    </body>
</html>