{% extends "base.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block mainContent %}
    <div class="container mt-4">
        <h2>Détails du contact</h2>
        <div class="jumbotron">
            <h1 class="display-4">{{ contact.nom }} {{ contact.prenom }}</h1>
            <p class="lead">Téléphone : {{ contact.telephone }}</p>
            <hr class="my-4">
            <p>Adresse : {{ contact.adresse }}, {{ contact.ville }}</p>
        </div>
    </div>
{% endblock %}